body {
    background: #ffe6f2;
    font-family: "Segoe UI", sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: #d63384;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}

.card {
    background: #ffffff;
    width: 330px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(255, 128, 171, 0.25);
    border: 2px solid #ffb3d9;
}

.card h2 {
    color: #c2185b;
    margin-bottom: 10px;
    font-size: 20px;
}

input {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 6px auto;
    border-radius: 8px;
    border: 2px solid #ff99cc;
    background: #fff0f7;
}

button {
    background: #ff66b3;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 8px;
}

button:hover {
    background: #ff3385;
}

pre {
    background: #fff0f7;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    color: #333;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ffb3d9;
}
